In [ ]:
# commit in python is starts with #

In [1]:
print("Hi Siddiq")

Hi Siddiq

### Variable

In [14]:
name = "Siddiq" #string types variable
print(name)
print(type(name))
id(name) #last line in jupyter print by default

Siddiq
<class 'str'>

2106059198320

In [15]:
print('siddiq said, "I love Programming"') #single comma lgaya h isliye shi print hua h

siddiq said, "I love Programming"

In [17]:
age = 19 #integer type
print(age)
print(type(age))
id(age)

19
<class 'int'>

140723620529512

In [18]:
weight = 65.5 # Float kehty hain isy
print(weight)
print(type(weight))
id(weight)

65.5
<class 'float'>

2106038598992

In [20]:
is_present = True #boolean
print(is_present)
print(type(is_present))
id(is_present)

True
<class 'bool'>

140723619056192

###  Operator

In [21]:
2+2

4

In [22]:
3**3

27

In [23]:
5//2 #floor yani value ko neche lekr ana

2

In [29]:
import math

value = 4/3 

print("The ceiling value of",value,"is:",math.ceil(value)) #

The ceiling value of 1.3333333333333333 is: 2

In [1]:
import math
x=5/2
y= (math.ceil(x))
print(y)

3

### some more operatos

In [6]:
9%4

1

In [10]:
age=19
age += 5 #incrrement

print(age)

24

In [17]:
age -= 8 #decrement
print(age)

-5.333333333333334

In [18]:
1+(3+2)+4**2 #power always solve first

22

In [19]:
((2*4) * 4)+2

34

### Concatenation

In [22]:
"Siddiq " + "Shah"

'Siddiq Shah'

In [23]:
"Siddiq " , "Shah" # cpmma will covert this into tuple

('Siddiq ', 'Shah')

In [25]:
print ('Siddiq ', 'Shah') # print krne se normal ans aeg

Siddiq  Shah

In [8]:
age = 25
age += 5
age

30

In [9]:
2-3

-1

In [16]:
name = "siddiq shah"

In [17]:
age = 19

In [18]:
weight = 67.74

In [19]:
is_present = True

In [20]:
name, age, weight, is_present

('siddiq shah', 19, 67, True)

In [27]:
#Method :1 Concatenation with , [, will do by defualt type casting]
print("student name:", name)
print("student age:", age)
print("student weight:", weight)
print("student is_present:", is_present)

student name: siddiq shah
student age: 19
student weight: 67
student is_present: True

In [28]:
#Method :2 Concatenation with + [+ requires type casting]
print("student name:" + name)
print("student age:" +str(age))
print("student weight:" + str(weight))
print("student is_present:" + str(is_present))

student name:siddiq shah
student age:19
student weight:67
student is_present:True

In [31]:
print(" The sum of 2 plus 2 is" + 4 )

TypeError: can only concatenate str (not "int") to str

In [33]:
print("The sum of 2 plus 2 is " + "4")

The sum of 2 plus 2 is 4

In [35]:
print(f"Student name: {name}")
print(f"student age: {age}" )
print(f"student weight: {weight}")
print(f"student is_present: {is_present}")

Student name: siddiq shah
student age: 19
student weight: 67
student is_present: True

In [43]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc =  "!"
whole_greeting = greeting + separators + addressee + punc
print(whole_greeting)

Hello, World!

In [3]:
f_name = "siddiq"
l_name = "Shah"
weight = 65
age = 19.5
is_student = True

In [8]:
#METHOD-1
"Student name of python class is " + f_name+ " " +l_name

'Student name of python class is siddiq Shah'

In [9]:
#METHOD-2
f"Student name of python is {f_name} {l_name}"

'Student name of python is siddiq Shah'

In [ ]:
#METHOD-3

#### Conditional Statement

In [17]:
result = "win"# "Win"/"loss"/"Tie"

if result == "win":
    print ("All Pakitani's will celebrate")
else:
    print("All Pakistani's will not celebrate")

All Pakitani's will celebrate

In [23]:
result = "tie"# "Win"/"loss"/"Tie"

if result == "win":
    print ("All Pakitani's will celebrate")
elif result == "tie":
    print("Both team get points")
else:
    print("All Pakistani's will not celebrate")

Both team get points

In [29]:
#METHOD-1
vechile = "mehran" #"mehran"/"toyota"/"civic"/"khyber"

if vechile == "mehran":
    print("mehran will win the race")
elif vechile == "toyota":
    print("toyota will win the race")
elif vechile == "khyber":
    print("khyber will win the race")
else:
    print("civic will win the race")

mehran will win the race

In [5]:
#METHOD-2
vehicle = "civic" #"mehran"/"toyota"/"civic"/"khyber"

if (vehicle == "mehran"):
    print(f'This car will win the race called {vehicle}')
elif vehicle == "toyota":
    print(f'This car will win the race called {vehicle}')
elif vehicle == "khyber":
    print(f'This car will win the race called {vehicle}')
else:
    print(f'This car will win the race called {vehicle}')

This car will win the race called civic

In [32]:
species = "cat"
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print(f"Yes, it's a cat of kingdom {kingdom}")

Yes, it's a cat of kingdom animal

In [37]:
marks = 62 #80/70/60/50

if marks >= 80:
    print("Your grade is A+")
elif marks >= 70:
    print("Your grade is A")
elif marks >= 60:
    print("Your grade is B")
else:
    marks >= 50
    print("Your grade is C")

Your grade is B

In [38]:
input("Enter your Marks") # input() always return string output

Enter your Marks 45

'45'

In [39]:
int(input("Enter your Marks"))

Enter your Marks 45

45

In [6]:

marks=int(input("Enter your Marks"))
if marks >= 80:
    print("Your grade is A+")
elif marks >= 70:
    print("Your grade is A")
elif marks >= 60:
    print("Your grade is B")
else:
    marks >= 50
    print("Your grade is C")

Enter your Marks 62

Your grade is B

In [50]:
all_available = True
is_fresh = True
price = "Average" #average, low, high

score = 0
if all_available:
    score += 5
if is_fresh:
    score += 5
if price == "Average":
    score += 5
print(score)

15

In [55]:
# AND => all conditions must be true
# OR => one condition must be true

inter_percentage = int(input("Enter Your Percentage"))
age_limit= int(input("Enter Your age"))

if ( inter_percentage > 60 ) and (age_limit >= 18):
    print('Eligible to take admission in uni')
else:
    print('Not eligible to take admission in uni')

Enter Your Percentage 59
Enter Your age 17

Not eligible to take admission in uni

# AND => all conditions must be true
# OR => one condition must be true

inter_percentage = int(input("Enter Your Percentage"))
age_limit= int(input("Enter Your age"))

if ( inter_percentage > 60 ) or (age_limit >= 18):
    print('Eligible to take admission in uni')
else:
    print('Not eligible to take admission in uni')

# NESTED IF ELSE

In [9]:
matric_pass = True

if matric_pass:
    print(f"Can proceed with the test")
# nested if-else
    test_cleared = input("Status of test (Pass/Fail):")
    if test_cleared == "Pass":
        print(f"Can take adm")
    else:
        print(f"You're in waiting list")
else:
    print(f"Atleast matric is the bare minimum requirement")

Can proceed with the test

Status of test (Pass/Fail): Pass

Can take adm

# LIST

In [20]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"

'''
syntax of list:
list_name = [value 1, value 2...]
'''

'\nsyntax of list:\nlist_name = [value 1, value 2...]\n'

In [12]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"]

In [14]:
print(type(cities))

<class 'list'>

In [17]:
cities[0]

'Atlanta'

In [18]:
cities[5]

'Seattle'

# Taking slices out of them

In [21]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [22]:
cities[:4] # last index is excluded

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [23]:
cities [2:5] # last value exclude hojati h or 1st value inlude

['Chicago', 'Denver', 'Los Angeles']

In [26]:
cities[-3:-1]

['Denver', 'Los Angeles']

In [27]:
cities[1:2:3]

['Baltimore']

In [28]:
cities[::2]

['Atlanta', 'Chicago', 'Los Angeles']

In [29]:
cities[1::4]

['Baltimore', 'Seattle']

In [30]:
cities[::-1]

['Seattle', 'Los Angeles', 'Denver', 'Chicago', 'Baltimore', 'Atlanta']

In [35]:
cities[1::3]

['Baltimore', 'Los Angeles']

In [44]:
cities[-1::-3]

['Dallas', 'Seattle', 'Chicago', 'Texax']

# Adding and Inserting Values

In [ ]:
cities. # METHODS-1: press Tab to get intelligence regarding available function
dir(cities) # METHODS-2

In [36]:
cities.append("New York")

In [37]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

In [38]:
cities.append("Miami")

In [39]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Miami']

In [40]:
cities.insert(0, "Texax")

In [41]:
cities

['Texax',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Miami']

In [42]:
cities = cities + ['Dallas']

In [43]:
cities

['Texax',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Miami',
 'Dallas']

In [46]:
cities[-2::-6]

['Miami', 'Baltimore']

# Deleting and removing elements

In [47]:
# method 1
cities.remove("Miami")

In [48]:
cities

['Texax',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Dallas']

In [53]:
# method 2
del (cities[1])

In [54]:
cities

['Texax',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York',
 'Dallas']

### Poping Values From list

In [55]:
holding_pop_city = cities.pop()

In [56]:
cities

['Texax',
 'Baltimore',
 'Chicago',
 'Denver',
 'Los Angeles',
 'Seattle',
 'New York']

In [57]:
holding_pop_city = cities.pop(-5)

In [58]:
cities

['Texax', 'Baltimore', 'Denver', 'Los Angeles', 'Seattle', 'New York']

In [59]:
cities.pop(2)

'Denver'

In [60]:
cities

['Texax', 'Baltimore', 'Los Angeles', 'Seattle', 'New York']

In [65]:
routine = ["Praying", "running", 'eating', 'studying']
routine_done=[]

routine_done.append(routine.pop(0))

In [66]:
routine_done

['Praying']

# Extra Methods

In [67]:
routine_done.clear()

In [78]:
### Shallow copy:
-refrence the same original
-changing in original can affect the copy

Deep Copy:
-Create seperate copy of the obj
-chnaging in orignial cant affect the copy

SyntaxError: invalid syntax (2159517676.py, line 2)

In [69]:
todolist = routine.copy()

In [70]:
todolist

['running', 'eating', 'studying']

In [77]:
routine.append("shopping")

In [72]:
routine

['running', 'eating', 'studying', 'shopping']

In [73]:
todolist

['running', 'eating', 'studying']

In [75]:
todolist

['running', 'eating', 'studying', 'shopping']